[project]
	description = Source Code for Android Course Example Applications
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kian Jones (KianJones)
[access "refs/for/refs/*"]
	read = group user/Kian Jones (KianJones)
	push = group user/Kian Jones (KianJones)
	label-Code-Review = -2..+2 group user/Kian Jones (KianJones)
	label-Verified = -1..+1 group user/Kian Jones (KianJones)
	rebase = group user/Kian Jones (KianJones)
	removeReviewer = group user/Kian Jones (KianJones)
	submit = group user/Kian Jones (KianJones)
[access "refs/heads/*"]
	read = group user/Kian Jones (KianJones)
	create = group user/Kian Jones (KianJones)
	push = +force group user/Kian Jones (KianJones)
	pushMerge = group user/Kian Jones (KianJones)
[access "refs/tags/*"]
	push = +force group user/Kian Jones (KianJones)
	pushTag = group user/Kian Jones (KianJones)
	pushSignedTag = group user/Kian Jones (KianJones)
